<!DOCTYPE html>
<html>
<head>
  <title>Explore - SkillBridge</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
   <!-- -----------------toast---------------- -->
    <section class="toast" id="toast">
      <div class="toast-content" id="toast-content">
        <i
        class="fa fa-check-circle fa-2x"
        aria-hidden="true"
        style="color: green"
      ></i>
      <div class="message">
        <span class="text text-1">Success</span>
        <span class="text text-2">Your changes has been saved</span>
      </div>
      </div>

    </section>

  <h2>Explore Skill Matches</h2>
  <div id="matches"></div>

  <script src="/scripts/explore.js"></script>
  <script src="/scripts/toast.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>
